<section id="map" class="map">
  <iframe id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key=AIzaSyAryNQXEqfFknQ7dj3Qyz2KTowWNzqP2oU&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </iframe>
  <br>
  <small id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key=AIzaSyAryNQXEqfFknQ7dj3Qyz2KTowWNzqP2oU&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </small>
</section>